AGENT_BROWSER_EXECUTABLE_PATH=REPLACE_ME
BROWSERBASE_ADVANCED_STEALTH=REPLACE_ME
BROWSERBASE_PROXIES=REPLACE_ME
BROWSER_INACTIVITY_TIMEOUT=REPLACE_ME
BROWSER_SESSION_TIMEOUT=REPLACE_ME
DISCORD_ALLOWED_USERS=REPLACE_ME
DISCORD_ALLOW_BOTS=REPLACE_ME
DISCORD_BOT_TOKEN=REPLACE_ME
DISCORD_HOME_CHANNEL=REPLACE_ME
DISCORD_HOME_CHANNEL_THREAD_ID=REPLACE_ME
HASS_URL=REPLACE_ME
HERMES_SPOTIFY_CLIENT_ID=REPLACE_ME
IMAGE_TOOLS_DEBUG=REPLACE_ME
MOA_TOOLS_DEBUG=REPLACE_ME
OLLAMA_API_KEY=REPLACE_ME
OPENROUTER_API_KEY=REPLACE_ME
TERMINAL_LIFETIME_SECONDS=REPLACE_ME
TERMINAL_MODAL_IMAGE=REPLACE_ME
TERMINAL_TIMEOUT=REPLACE_ME
VISION_TOOLS_DEBUG=REPLACE_ME
WEB_TOOLS_DEBUG=REPLACE_ME
